<!doctype html>
<html lang="en" class="h-full bg-white antialiased">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=noto-sans:400,500,700" rel="stylesheet" />
  </head>
  <body class="flex min-h-full">

    <div class="w-full">
      <header class="bg-slate-50 lg:fixed lg:inset-y-0 lg:left-0 lg:flex lg:w-140 lg:items-start lg:overflow-y-auto xl:w-160 scrollbar-hide">
        <div
          class="hidden lg:sticky lg:top-0 lg:flex lg:w-16 lg:flex-none lg:items-center lg:whitespace-nowrap lg:py-12 lg:leading-7 lg:[writing-mode:vertical-rl]"
        >
          <a href="/" class="text-slate-800 font-bold">
            Kronos Tasks
          </a>
          <a href="/" class="mt-10 text-slate-800 font-bold">
            Home
          </a>
          <a href="/about" class="mt-10 text-slate-900">
            About
          </a>
        </div>
        <div
          class="relative z-10 mx-auto px-4 py-2 lg:py-6 sm:px-6 md:max-w-2xl md:px-4 lg:min-h-full lg:flex-auto lg:border-x lg:border-slate-200 lg:px-8 xl:px-12"
        >
          <div class="lg:hidden flex justify-between items-center mb-8">
            <a href="/" class="text-slate-800 font-bold">
              Kronos Tasks
            </a>
            <a href="/about" class="text-slate-700">
              About
            </a>
          </div>
          <div class="mb-4 sticky top-0 pb-1 bg-slate-50 flex justify-between items-center z-50">
            <div class="inline-flex rounded-md items-center">
              <button id="todaysTasksAction" type="button" class="relative text-sm lg:text-base w-36 lg:w-48 hover:bg-gray-200 px-2 py-1 lg:px-3 lg:py-2 active-mode">Today's Tasks</button>
              <button id="endOfDayUpdateAction" type="button" class="relative text-sm lg:text-base w-36 lg:w-48 hover:bg-gray-200 px-3 py-2 inactive-mode">End of Day</button>
            </div>
            <button class="w-6 h-6 bg-white border border-gray-300 hover:bg-gray-50 rounded flex items-center justify-center" id="addNewTaskItem">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-6 h-6 text-gray-600">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v12M6 12h12" />
              </svg>
            </button>
          </div>
          <div id="taskListSource"></div>
        </div>
      </header>
      <main class="bg-neutral-50 border-t border-slate-200 lg:relative lg:ml-140 lg:border-t-0 xl:ml-160 min-h-screen">
        <div class="relative h-screen">
          <div class="flex flex-col h-full pb-12 pt-6 sm:pb-4">
            <div class="mb-4 sticky top-0 px-4 lg:px-12 py-2 bg-slate-50 flex items-center">
              <p class="text-base lg:text-xl font-bold text-slate-900">
                Task List
              </p>
              <button class="w-6 h-6 bg-white border border-gray-300 hover:bg-gray-50 rounded flex items-center justify-center ml-4" id="copyToClipboard">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"  
                     class="w-6 h-6 text-gray-600">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                  <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
                  <path d="M9 14l2 2l4 -4" />
                </svg>
              </button>
              <span id="copiedToClipboard" class="ml-4 opacity-0 transition-opacity duration-1000 ease-in-out">
                Copied to Clipboard
              </span>
            </div>
            <div class="flex-1 px-2 lg:px-12 pb-8 bg-neutral-50">
              <div 
                name="taskListOutput" 
                id="taskListOutput" 
                class="block w-full h-full p-5 rounded-md bg-white text-sm lg:text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
              >
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script id="newTaskItemTemplate" type="text/html">
      <div class="relative -space-y-px mb-4" id="task_<%= id %>">
        <button class="w-4 h-4 bg-white border border-gray-300 hover:bg-gray-50 rounded absolute top-1 right-1 flex items-center justify-center" id="delete_<%= id %>">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                class="w-4 h-4 text-gray-600">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 7l16 0" />
            <path d="M10 11l0 6" />
            <path d="M14 11l0 6" />
            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
          </svg>
        </button>
        <div class="rounded-t-md bg-white px-3 pb-1.5 pt-2.5 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:relative focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
          <label for="taskNameValue_<%= id %>" class="block text-xs font-medium text-gray-900">Task</label>
          <input type="text" name="taskNameValue_<%= id %>" id="taskNameValue_<%= id %>" class="block w-full border-0 outline-none ring-0 focus:border-0 focus:outline-none focus:ring-0 placeholder:text-gray-400 sm:text-sm/6" placeholder="Task Name">
        </div>
        <div class="bg-white px-3 py-2.5 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:relative focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
          <div class="flex justify-between">
            <label class="block text-xs font-medium text-gray-900">Details</label>
            <button class="w-4 h-4 bg-white border border-gray-300 hover:bg-gray-50 rounded flex items-center justify-center" id="newDetail_<%= id %>">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" class="w-4 h-4 text-gray-600">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v12M6 12h12" />
              </svg>
            </button>
          </div>
          <div id="details_<%= id %>">
            <div class="flex items-center" id="detailItem_<%= id %>_<%= itemId %>">
              <input type="text" name="detailItemValue_<%= id %>_<%= itemId %>" id="detailItemValue_<%= id %>_<%= itemId %>" class="block w-11/12 border-0 outline-none ring-0 focus:border-0 focus:outline-none focus:ring-0 placeholder:text-gray-400 sm:text-sm/6" placeholder="Detail Item">
              <button id="delete_detailItem_<%= id %>_<%= itemId %>" class="w-4 h-4 bg-white border border-gray-300 hover:bg-gray-50 rounded flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                     class="w-4 h-4 text-gray-600">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M18 6l-12 12" />
                  <path d="M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="bg-white px-3 pb-1.5 pt-2.5 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:relative focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
          <label for="estimationValue_<%= id %>" class="block text-xs font-medium text-gray-900">Estimated Time to Complete</label>
          <input type="text" name="estimationValue_<%= id %>" id="estimationValue_<%= id %>" class="block w-full border-0 outline-none ring-0 focus:border-0 focus:outline-none focus:ring-0 placeholder:text-gray-400 sm:text-sm/6" placeholder="Minutes, Hours, Days, Weeks?">
        </div>
        <div class="bg-white px-3 pb-1.5 pt-2.5 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:relative focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600 end-of-day-element hidden">
          <label for="timeSpentValue_<%= id %>" class="block text-xs font-medium text-gray-900">Time Spent Today</label>
          <input type="text" name="timeSpentValue_<%= id %>" id="timeSpentValue_<%= id %>" class="block w-full border-0 outline-none ring-0 focus:border-0 focus:outline-none focus:ring-0 placeholder:text-gray-400 sm:text-sm/6" placeholder="Minutes / Hours">
        </div>
        <div class="bg-white px-3 pt-2.5 border-l border-r border-gray-300 focus-within:relative focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
          <label for="dependenciesValue_<%= id %>" class="block text-xs font-medium text-gray-900">Dependencies</label>
          <input type="text" name="dependenciesValue_<%= id %>" id="dependenciesValue_<%= id %>" class="block w-full border-0 outline-none ring-0 focus:border-0 focus:outline-none focus:ring-0 placeholder:text-gray-400 sm:text-sm/6" placeholder="Who are we relying on?">
        </div>
        <div class="bg-white px-3 pb-1.5 pt-2.5 outline outline-1 -outline-offset-1 outline-gray-300 focus-within:relative focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600 end-of-day-element hidden">
          <label for="challengesValue_<%= id %>" class="block text-xs font-medium text-gray-900">Challenges</label>
          <input type="text" name="challengesValue_<%= id %>" id="challengesValue_<%= id %>" class="block w-full border-0 outline-none ring-0 focus:border-0 focus:outline-none focus:ring-0 placeholder:text-gray-400 sm:text-sm/6" placeholder="What challenges came up?">
        </div>
        <div class="bg-white px-3 pt-2.5 border-l border-r border-t border-gray-300 focus-within:relative focus-within:outline focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600 end-of-day-element hidden">
          <label class="block text-xs font-medium text-gray-900">Status</label>
          <select 
            id="taskStatusValue_<%= id %>" 
            name="taskStatusValue_<%= id %>" 
            class="col-start-1 row-start-1 w-full appearance-none border-0 outline-none ring-0 focus:border-0 focus:outline-none focus:ring-0 bg-white py-1.5 pl-3 pr-8 text-base text-gray-400 sm:text-sm/6"
          >
            <option value="Not Specified">Select a Task Status</option>
            <option value="Completed">Completed</option>
            <option value="In Progress">In Progress</option>
            <option value="Rescheduled">Rescheduled</option>
          </select>
        </div>
        <div class="rounded-b-md bg-white px-3 pb-1.5 pt-2.5 border-l border-r border-b border-gray-300 h-0.5"></div>
      </div>
    </script>

    <script id="newDetailItemTemplate" type="text/html">
      <div class="flex items-center" id="detailItem_<%= id %>_<%= itemId %>">
        <input type="text" name="detailItemValue_<%= id %>_<%= itemId %>" id="detailItemValue_<%= id %>_<%= itemId %>" class="block w-11/12 border-0 outline-none ring-0 focus:border-0 focus:outline-none focus:ring-0 placeholder:text-gray-400 sm:text-sm/6" placeholder="Detail Item">
        <button id="delete_detailItem_<%= id %>_<%= itemId %>" class="w-4 h-4 bg-white border border-gray-300 hover:bg-gray-50 rounded flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                class="w-4 h-4 text-gray-600">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
          </svg>
        </button>
      </div>
    </script>

    <script src="./main.js" defer></script>

  </body>
</html>