@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}

@layer components {
  .active-mode {
    @apply rounded-t bg-white font-semibold text-gray-900 ring-1 ring-inset ring-gray-300;
  }

  .inactive-mode {
    @apply text-gray-500 border-b;
  }
}